*{
	padding: 0;
	margin:0;
}
a{
	text-decoration: none;
	color: #6495ED;	
}
li{
	list-style: none;
}
input,select,textarea{
   outline:none;
   border: none;
   background: none;/*for ie6*/
}
.fl{float:left;}
.fr{float: right;}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.clearfix{
	zoom:1;
}
/*  头部不变部分 */
#header{
	width: 100%;
	position: fixed;
	top:0;
	z-index: -10;
	height: 450px;

}
#header>p{
	display: block;
	font-family: "Microsoft YaHei";
	font-size: 4rem;
	z-index:10;
	color:white;
    position: absolute;
    top: 45%;
    left: 24%;
    text-shadow: 2px 2px #D3D3D3;
}
#header span{
	position: absolute;
	font-size: 1rem;
	z-index:10;
	color:white;
	bottom: 20%;
	right: 20%;

}
#header img {
	width: 100%;
	height: 450px;
}
/*header不变部分结束*/
/**/

/* dynamic内容部分*/
.je-content{
width: 100%;
margin-top:450px;
margin-bottom: 200px;
background: white;
overflow: hidden;
height: 700px;
}
.home{
	margin: 50px;
}
.home .h-h1{
	border-bottom: 2px solid black;
	margin-bottom:30px;
}
.post-list h2 {
	display: inline-block;
}
.post-list li{
	margin: 20px;
	border-bottom: 1px solid #DCDCDC;
}
.post-list li span{
	float: right;

}
/*尾部*/
#footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 200px;
	background-color: gray;
	z-index:-20;
	overflow: hidden;
}

#footer p{
	text-align: center;

}




