body p{
	font-family: "Microsoft YaHei";
}
*{
	padding: 0;
	margin:0;
}
a{
	text-decoration: none;
	color: #3CB371;	
}
li{
	list-style: none;
}
input,select,textarea{
   outline:none;
   border: none;
   background: none;/*for ie6*/
}
.fl{float:left;}
.fr{float: right;}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.clearfix{
	zoom:1;
}
/* 导航部分 */
#header{
	width: 100%;
	height: 56px;
	overflow: hidden;
}
#header li{
	float: left;
	width: 50%;
}

#header a{
    display: inline-block;
     line-height: 50px;
     font-size: 1.5em;
     padding: 0 25%;
     width: 50%;
    border:2px solid #3CB371;
    border-radius:25px;
    -moz-border-radius:25px;
    text-align: center;
}
#header a:hover{
	border:2px solid #00BFFF;
	color: #00BFFF;
}
#header{
	margin: 0 auto;
}

/*文章内容部分*/

.content{
	margin: 50px 40px;

}
.content p {
	text-indent: 30px;
}
.content ul
{

}
.content .post-meta{
	float: right;
}
.post-list{
	margin: 0 30px;	
}
.post-list li{
	opacity: .6;
}
.post-list li:hover{
	opacity: 1.0;
	border-bottom: 2px solid #00BFFF;
	font-size: 18px;
}
.post-list li{
	border-bottom: 2px solid #3CB371;
	margin-bottom:10px; 	
}
.post-list h2 p{
    font-size: 0.7em;
	margin-left: 40px;
}
.post-list h2 a:hover{
	color: #00BFFF;

}
.post-list li span{
	line-height: 24px;
}
.page-heading{
	margin: 30px 0
}
.ab-content{
	position: relative;
}

/* 底部样式 */

#po-footer{
	text-align: center;
	width: 100%;
	background-color: #3CB371;
	height: 50px;
}
#po-footer span{
	display: table;
	height: 100%;
	vertical-align: middle;
    width: 100%;	
}
#po-footer p
{
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}
#footer{
	position: relative;
	text-align: center;
	width: 100%;
	background-color: #3CB371;
	height: 50px;
}
#footer span{
	display: table;
	height: 100%;
	vertical-align: middle;
    width: 100%;	
}
#footer p
{
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}
/* about 内容样式*/
.ab-content{
	margin: 100px 100px 0 100px ;
	overflow: hidden;
}
.ab-text {
	float: left;
	margin-left:50px; 
}
.ab-text p{
   font-size: 18px;
   margin:10px 0;
  
}
.ab-img{
	float: left;
margin-left: 400px;
}

.ab-img img{
   border:1px solid white;
   
   width: 180px;
   height: 250px;
}
.ab-img p a:hover{
    color: #00BFFF;
}
@media only screen and  (max-width:500px )
{   

     .ab-content{
	margin: 30px 30px 0 30px ;
	overflow: hidden;
     }
      .ab-text{
	float: none;
	margin-left:0; 
     }
     .ab-img{
     	float: none;
		margin-left: 30px;
     }
	.ab-img img{
		float: none;
		margin-top: 50px;
		width: 110px;
		height: 150px;
	}

}





