<!DOCTYPE html>
<html>
<head>
    <title>Young and free {{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Keywords" content="个人博客 前端开发 移动端开发 技术分享">
    <meta name="Description" content="浅白的个人博客">
    <link rel="stylesheet" type="text/css" href="/../css/main.css">
    <link rel="shortcut icon" href="/../image/mine.ico">
</head>

<body>
    <div>
        <div id="header">
            <p>To see a bigger world</p>
            <span> ——欢迎来到Ga的个人小站</span>
            <img src="/../image/image2.jpg">
        </div>
        <div class="je-content">
            {{content}}
        </div>
        <div id="footer">
            <p>2016 浅白 @copyright</p>
        </div>
    </div>
    <script type="text/javascript" src="/../js/main.js"></script>
</body>

</html>
